CompileFlags:
  Add:
    - --gcc-toolchain=/nix/store/8adzgnxs3s0pbj22qhk9zjxi1fqmz3xv-gcc-14.3.0
    - -isystem/nix/store/8adzgnxs3s0pbj22qhk9zjxi1fqmz3xv-gcc-14.3.0/lib/gcc/x86_64-unknown-linux-gnu/14.3.0/include
    - -isystem/nix/store/panr9m5jdmy0kgzj1wbjsc4m78wn1cyh-lld-19.1.7-dev/include
    - -isystem/nix/store/35xqdwnj3l8kzay4jkn42zwizlm1j6i2-libcoro-0.15.0/include
    - -isystem/nix/store/d990jfl1fjrfsa2larviha7m345pzxhq-mp-units-2.4.0/include
    - -isystem/nix/store/hs6ncaybl4dpzlq6il6jva5gp9mkpfjy-mdspan-0.6.0/include
    - -isystem/nix/store/l02gycm231v3wmfvr3zmrpj5zbsfmkwv-fmt-12.0.0-dev/include
    - -isystem/nix/store/8wi6gg93aln5jy5nh4w1a1glsfiqj2yh-cli11-2.5.0/include
    - -isystem/nix/store/pkrxjss5bkjh5zykz43l32hnl0b7c6z5-flex-2.6.4/include
    - -isystem/nix/store/mqdzkx7md35lbx1klh4hjlwn5912gmvd-libxcrypt-4.4.38/include
    - -isystem/nix/store/w4knlx4cvi82gzfh097fvyyiz034dvy8-curl-8.14.1-dev/include
    - -isystem/nix/store/08f76q86yda0vmh94wxqa3ych1rrxm4b-brotli-1.1.0-dev/include
    - -isystem/nix/store/a8m6p8ygk1x871xlvyxs2ld53wzgnyzf-krb5-1.21.3-dev/include
    - -isystem/nix/store/m3p3d9q3m8ak0vrkh0zph2xsxqpnxicy-nghttp2-1.65.0-dev/include
    - -isystem/nix/store/vnsydw3ab611hd0f952piyricyyf582n-libidn2-2.3.8-dev/include
    - -isystem/nix/store/wr6qvslzqrd3rsf2mw0ssxwmyi2sqjdh-openssl-3.4.2-dev/include
    - -isystem/nix/store/by8fyajdbrwhwazas827c3fxfvml8wq5-libpsl-0.21.5-dev/include
    - -isystem/nix/store/1r801xjbssyyk9pf64ydk7c0dv5dgxbc-libssh2-1.11.1-dev/include
    - -isystem/nix/store/wqahxs411zx3nykdqa8c2j3d127r3cff-zlib-1.3.1-dev/include
    - -isystem/nix/store/09yxv4l0ihizkdd28icqjnx2f1d68f0d-zstd-1.5.7-dev/include
    - -isystem/nix/store/di5859n3s9p76x7ys97g0hgxw1h2hqp8-jq-1.7.1-dev/include
    - -isystem/nix/store/vxl8pzgkkw8vdb4agzwm58imrfclmfrx-python3-3.12.11/include
    - -isystem/nix/store/s22ixq2dki45xdzzmh1d0yvac3rridz3-util-linux-2.41.1-dev/include
    - -isystem/nix/store/pia38917zmilsf5xcyk8d4mvk6ngcfsx-gdb-16.2/include
    - -isystem/nix/store/ba0mgw8nwvcgmp4cckc46z5v0r36avlp-compiler-rt-libc-20.1.8-dev/include
    - -isystem/nix/store/20qhan7hpxlj7k02ynakrmbkk5vxw6kh-gbenchmark-1.9.1/include
    - -isystem/nix/store/6rfap9wj9g6yga4pg4750yag075qrxg3-libblake3-1.8.2/include
    - -isystem/nix/store/2clcgn9d7rlyhdkpc1gx9frg14vm2k07-tbb-2021.11.0-dev/include
    - -isystem/nix/store/wggl1xx2q8kfdr4qvrlkr1mffl3dpd15-libsodium-1.0.20-dev/include
    - -isystem/nix/store/hsvfkb7winxmnlhj7fxh7vy7nc50727k-libcpuid-0.7.1/include
    - -isystem/nix/store/c2r3lg107ab3h6y5x13snlm9vjsqzqaa-boost-1.87.0-dev/include
    - -isystem/nix/store/mj7x8yqc3552rbayzbsx9if0ldd8g2zq-sqlite-3.48.0-dev/include
    - -isystem/nix/store/crqsqy5zdnn6whr2qgqzi2bp039bgz6w-libseccomp-2.6.0-dev/include
    - -isystem/nix/store/rp61idz3v33xgfzsnizr3vb5shslwnkq-aws-sdk-cpp-1.11.448-dev/include
    - -isystem/nix/store/324y6ilinqw1w9r280mkddq87gmiw5gn-aws-crt-cpp-0.29.4-dev/include
    - -isystem/nix/store/60s26bijq2qj8f7z1cidkj14q8ngkkpc-aws-c-auth-0.8.1/include
    - -isystem/nix/store/qy34lwx9bdgynpjhwwdgzki5dq7vsslb-aws-c-sdkutils-0.2.1/include
    - -isystem/nix/store/2f0g1yj0yzkgc0jpifldvvw6syrv68dl-aws-c-cal-0.8.0/include
    - -isystem/nix/store/4xrplqjaq6k0fnwyfmckg7sq06291gr4-aws-c-common-0.10.3/include
    - -isystem/nix/store/f5wp2ycmfcvwg3lifd6mz321ny5hgxz3-aws-c-compression-0.3.0/include
    - -isystem/nix/store/pl145x3mba318j3c3vhfcz9fs969x75d-aws-c-event-stream-0.5.0/include
    - -isystem/nix/store/9agf2p4950smjqqhj3vsgq18sxx2cvn3-aws-c-http-0.9.2/include
    - -isystem/nix/store/c7732dm7416fil8jb4x6ymx4p9xriq0c-aws-c-io-0.15.3/include
    - -isystem/nix/store/nnl79gryl3dz0k2k5y7lfkccwz1lqhmh-aws-c-mqtt-0.11.0/include
    - -isystem/nix/store/054sxhnwvxnvxdcvrmms8q97z0nxk6h9-aws-c-s3-0.7.1/include
    - -isystem/nix/store/f5k93wjw4ylgw93jm1di05bs2q8935wq-aws-checksums-0.2.2/include
    - -isystem/nix/store/w08zpyf3fpimc1f0zga1z20cqpsg4a4v-s2n-tls-1.5.17-dev/include
    - -isystem/nix/store/rpi50xiwd3hql8k4rrscdhpb44cm8cw1-aws-sdk-cpp-1.11.448/include
    - -isystem/nix/store/37af10wdlkkrkirrb3mnsj98q6a3x2g1-rapidcheck-0-unstable-2023-12-14-dev/include
    - -isystem/nix/store/14rm9ijzg6snz75f0h17qnimm3iafnwd-gtest-1.16.0-dev/include
    - -isystem/nix/store/4js2xw5wi33y4rggfr5b5dlwrnpda269-libgit2-1.9.0-dev/include
    - -isystem/nix/store/p0x0ml88j81w6ngxqa5kw1afzg0232l8-toml11-4.4.0/include
    - -isystem/nix/store/vgi5jkglabcvmhsrp8wixg1r2dhjyvva-nlohmann_json-3.11.3/include
    - -isystem/nix/store/r7irr8b5nzwy18n0708dl260607jwvzy-boehm-gc-8.2.8-dev/include
    - -isystem/nix/store/k1vw17klsi3h8d9157qyn29ar752j1g6-editline-1.17.1-dev/include
    - -isystem/nix/store/gvsdga7lzgjqsd01cs4ammxdmqxzmwsg-lowdown-2.0.2-dev/include
    - -isystem/nix/store/8m1zxpfgxihz3cqpiq42rdarmdbliacv-bzip2-1.0.8-dev/include
    - -isystem/nix/store/m3nkjvz6dcz1yy0j82d2ihkyxagiqxdm-libarchive-3.8.0-dev/include
    - -isystem/nix/store/0vy272ral6dwzx96wkvd90l37v0gdrk7-attr-2.5.2-dev/include
    - -isystem/nix/store/ra69jxg2pnnjymvkn83mfr7cnhllmwnj-acl-2.3.2-dev/include
    - -isystem/nix/store/panr9m5jdmy0kgzj1wbjsc4m78wn1cyh-lld-19.1.7-dev/include
    - -isystem/nix/store/35xqdwnj3l8kzay4jkn42zwizlm1j6i2-libcoro-0.15.0/include
    - -isystem/nix/store/d990jfl1fjrfsa2larviha7m345pzxhq-mp-units-2.4.0/include
    - -isystem/nix/store/hs6ncaybl4dpzlq6il6jva5gp9mkpfjy-mdspan-0.6.0/include
    - -isystem/nix/store/l02gycm231v3wmfvr3zmrpj5zbsfmkwv-fmt-12.0.0-dev/include
    - -isystem/nix/store/8wi6gg93aln5jy5nh4w1a1glsfiqj2yh-cli11-2.5.0/include
    - -isystem/nix/store/pkrxjss5bkjh5zykz43l32hnl0b7c6z5-flex-2.6.4/include
    - -isystem/nix/store/mqdzkx7md35lbx1klh4hjlwn5912gmvd-libxcrypt-4.4.38/include
    - -isystem/nix/store/w4knlx4cvi82gzfh097fvyyiz034dvy8-curl-8.14.1-dev/include
    - -isystem/nix/store/08f76q86yda0vmh94wxqa3ych1rrxm4b-brotli-1.1.0-dev/include
    - -isystem/nix/store/a8m6p8ygk1x871xlvyxs2ld53wzgnyzf-krb5-1.21.3-dev/include
    - -isystem/nix/store/m3p3d9q3m8ak0vrkh0zph2xsxqpnxicy-nghttp2-1.65.0-dev/include
    - -isystem/nix/store/vnsydw3ab611hd0f952piyricyyf582n-libidn2-2.3.8-dev/include
    - -isystem/nix/store/wr6qvslzqrd3rsf2mw0ssxwmyi2sqjdh-openssl-3.4.2-dev/include
    - -isystem/nix/store/by8fyajdbrwhwazas827c3fxfvml8wq5-libpsl-0.21.5-dev/include
    - -isystem/nix/store/1r801xjbssyyk9pf64ydk7c0dv5dgxbc-libssh2-1.11.1-dev/include
    - -isystem/nix/store/wqahxs411zx3nykdqa8c2j3d127r3cff-zlib-1.3.1-dev/include
    - -isystem/nix/store/09yxv4l0ihizkdd28icqjnx2f1d68f0d-zstd-1.5.7-dev/include
    - -isystem/nix/store/di5859n3s9p76x7ys97g0hgxw1h2hqp8-jq-1.7.1-dev/include
    - -isystem/nix/store/vxl8pzgkkw8vdb4agzwm58imrfclmfrx-python3-3.12.11/include
    - -isystem/nix/store/s22ixq2dki45xdzzmh1d0yvac3rridz3-util-linux-2.41.1-dev/include
    - -isystem/nix/store/pia38917zmilsf5xcyk8d4mvk6ngcfsx-gdb-16.2/include
    - -isystem/nix/store/ba0mgw8nwvcgmp4cckc46z5v0r36avlp-compiler-rt-libc-20.1.8-dev/include
    - -isystem/nix/store/20qhan7hpxlj7k02ynakrmbkk5vxw6kh-gbenchmark-1.9.1/include
    - -isystem/nix/store/6rfap9wj9g6yga4pg4750yag075qrxg3-libblake3-1.8.2/include
    - -isystem/nix/store/2clcgn9d7rlyhdkpc1gx9frg14vm2k07-tbb-2021.11.0-dev/include
    - -isystem/nix/store/wggl1xx2q8kfdr4qvrlkr1mffl3dpd15-libsodium-1.0.20-dev/include
    - -isystem/nix/store/hsvfkb7winxmnlhj7fxh7vy7nc50727k-libcpuid-0.7.1/include
    - -isystem/nix/store/c2r3lg107ab3h6y5x13snlm9vjsqzqaa-boost-1.87.0-dev/include
    - -isystem/nix/store/mj7x8yqc3552rbayzbsx9if0ldd8g2zq-sqlite-3.48.0-dev/include
    - -isystem/nix/store/crqsqy5zdnn6whr2qgqzi2bp039bgz6w-libseccomp-2.6.0-dev/include
    - -isystem/nix/store/rp61idz3v33xgfzsnizr3vb5shslwnkq-aws-sdk-cpp-1.11.448-dev/include
    - -isystem/nix/store/324y6ilinqw1w9r280mkddq87gmiw5gn-aws-crt-cpp-0.29.4-dev/include
    - -isystem/nix/store/60s26bijq2qj8f7z1cidkj14q8ngkkpc-aws-c-auth-0.8.1/include
    - -isystem/nix/store/qy34lwx9bdgynpjhwwdgzki5dq7vsslb-aws-c-sdkutils-0.2.1/include
    - -isystem/nix/store/2f0g1yj0yzkgc0jpifldvvw6syrv68dl-aws-c-cal-0.8.0/include
    - -isystem/nix/store/4xrplqjaq6k0fnwyfmckg7sq06291gr4-aws-c-common-0.10.3/include
    - -isystem/nix/store/f5wp2ycmfcvwg3lifd6mz321ny5hgxz3-aws-c-compression-0.3.0/include
    - -isystem/nix/store/pl145x3mba318j3c3vhfcz9fs969x75d-aws-c-event-stream-0.5.0/include
    - -isystem/nix/store/9agf2p4950smjqqhj3vsgq18sxx2cvn3-aws-c-http-0.9.2/include
    - -isystem/nix/store/c7732dm7416fil8jb4x6ymx4p9xriq0c-aws-c-io-0.15.3/include
    - -isystem/nix/store/nnl79gryl3dz0k2k5y7lfkccwz1lqhmh-aws-c-mqtt-0.11.0/include
    - -isystem/nix/store/054sxhnwvxnvxdcvrmms8q97z0nxk6h9-aws-c-s3-0.7.1/include
    - -isystem/nix/store/f5k93wjw4ylgw93jm1di05bs2q8935wq-aws-checksums-0.2.2/include
    - -isystem/nix/store/w08zpyf3fpimc1f0zga1z20cqpsg4a4v-s2n-tls-1.5.17-dev/include
    - -isystem/nix/store/rpi50xiwd3hql8k4rrscdhpb44cm8cw1-aws-sdk-cpp-1.11.448/include
    - -isystem/nix/store/37af10wdlkkrkirrb3mnsj98q6a3x2g1-rapidcheck-0-unstable-2023-12-14-dev/include
    - -isystem/nix/store/14rm9ijzg6snz75f0h17qnimm3iafnwd-gtest-1.16.0-dev/include
    - -isystem/nix/store/4js2xw5wi33y4rggfr5b5dlwrnpda269-libgit2-1.9.0-dev/include
    - -isystem/nix/store/p0x0ml88j81w6ngxqa5kw1afzg0232l8-toml11-4.4.0/include
    - -isystem/nix/store/vgi5jkglabcvmhsrp8wixg1r2dhjyvva-nlohmann_json-3.11.3/include
    - -isystem/nix/store/r7irr8b5nzwy18n0708dl260607jwvzy-boehm-gc-8.2.8-dev/include
    - -isystem/nix/store/k1vw17klsi3h8d9157qyn29ar752j1g6-editline-1.17.1-dev/include
    - -isystem/nix/store/gvsdga7lzgjqsd01cs4ammxdmqxzmwsg-lowdown-2.0.2-dev/include
    - -isystem/nix/store/8m1zxpfgxihz3cqpiq42rdarmdbliacv-bzip2-1.0.8-dev/include
    - -isystem/nix/store/m3nkjvz6dcz1yy0j82d2ihkyxagiqxdm-libarchive-3.8.0-dev/include
    - -isystem/nix/store/0vy272ral6dwzx96wkvd90l37v0gdrk7-attr-2.5.2-dev/include
    - -isystem/nix/store/ra69jxg2pnnjymvkn83mfr7cnhllmwnj-acl-2.3.2-dev/include
