use flake
export CC=clang
export CXX=clang++
export VCPKG_ROOT=$HOME/vcpkg
export PATH=$VCPKG_ROOT:$PATH
export CPM_SOURCE_CACHE=$HOME/.cache/CPM
export CPM_USE_NAMED_CACHE_DIRECTORIES=1
export CCACHE_MAXSIZE=50G
export CCACHE_ABSSTDERR=1
export CMAKE_CXX_COMPILER_LAUNCHER=ccache
export CMAKE_C_COMPILER_LAUNCHER=ccache
